name: Java CI with MAVEN

on:
  push:
    branches: [ anshit ]
  pull_request:
    branches: [ anshit ]

jobs:
  build-java:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v1.4.4
      with:
        java-version: 17
    - run: mvn --batch-mode --update-snapshots verify
    - run: mkdir staging && cp target/*.jar staging
    - uses: actions/upload-artifact@v3
      with:
        name: Package
        path: staging
    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        image: anshit84/git
        registry: docker.io
        username: anshit84
        password: anshit@123
